body {
    background-size: cover;
    background: rgb(238,174,202);
    background: linear-gradient(180deg, rgb(242, 183, 209) 0%, rgb(200, 149, 241) 25%, rgb(94, 84, 207) 50%, rgb(27, 29, 62) 75%, rgb(8, 7, 21) 100%);

        h1 {
            font-family: 'Roboto Mono'; font-size: xx-large; font-weight: lighter; 
            }
        h2 {
            font-family: 'Comfortaa'; font-weight: lighter;
            }
        h3 {
            font-family: 'Nunito'; font-weight: lighter;
        }
        i, P {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: 100;
            }
        h1, h2, h3, i, p {
            text-indent: 100px;
            }
/*info card visuals*/
   .container {
    display: flex;
    flex-wrap: wrap;
}

.box-row {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.box-cell {
    flex: 1;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 5px dotted #ccc;
    box-shadow: 0 0 0 2px #ccc inset;
}

.box1 {
    background-color: #e7f7ff;
}

.box2 {
    background-color: #ffefe7;
}

}
