body {
    background-size: cover;
    background: rgb(238,174,202);
    background: linear-gradient(180deg, rgb(242, 183, 209) 0%, rgb(200, 149, 241) 25%, rgb(94, 84, 207) 50%, rgb(27, 29, 62) 75%, rgb(8, 7, 21) 100%);

        h1 {
            font-family: 'Roboto Mono'; font-size: xx-large; font-weight: lighter; 
            }
        h2 {
            font-family: 'Comfortaa'; font-weight: lighter;
            }
        h3 {
            font-family: 'Nunito'; font-weight: lighter;
        }
        i, P {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: 100;
            }
        h1, h2, h3, i, p {
            text-indent: 100px;
            }

    .container .box {
            style {
                .container .box {
                    display:flex;
                    flex-direction: row;
                }
                .container .box .box-cell.box1 {
                    background-color: antiquewhite;
                }
            }
        }
}
